.delete-item-btn {
    border: 2px solid red;
    border-radius: 0.75rem;
    background-color: rgb(173, 30, 30);
    color: white;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 4px white;
    cursor: pointer;
}