@use '@/global-styles/main' as gs;

.nav-wrapper {
    @include gs.flex(none, none, center);
    margin-right: 2rem;

    @include gs.display(mobile) {
        margin-right: 1.25rem;
    }

    &__links {
        @include gs.flex(none, none, center);

        @include gs.display(tablet) {
            display: none;
        }

        &__user {
            margin-left: 2rem;

            &>img {
                border-radius: 100%;
                cursor: pointer;
            }

            &__links {
                position: absolute;
                top: 5rem;
                z-index: 1;
                background: rgb(0, 0, 0);
                background: linear-gradient(311deg, rgba(0, 0, 0, 1) 0%, rgba(149, 149, 149, 1) 57%, rgba(255, 255, 255, 1) 91%);
                box-shadow: 0 0 0.25rem white;
                color: black;
                border-radius: 0.5rem;
                animation: opacityShow 1.5s ease;

                &>ul {
                    padding: 1rem;

                    &>li {
                        margin-bottom: 0.5rem;

                        &>button {
                            @include gs.glow-on-hover-button();
                        }

                        [data-theme="dark"] &>button {
                            border: 1px solid white;
                        }
                    }
                }
            }
        }

        &>ul {
            display: flex;
        }
    }

    &__navbar {
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 1s ease;
        display: none;

        @include gs.display(tablet) {
            display: inline;
        }

        @include gs.display(mobile) {
            font-size: 1.25rem;
        }

        &:hover {
            color: gs.$middle-primary;
        }

        &__close {
            font-size: 2rem;
            animation: rotate 1.5s forwards;

            @include gs.display(mobile) {
                font-size: 1.5rem;
            }
        }
    }

    &__mobile-links {
        display: none;

        @include gs.display(tablet) {
            position: absolute;
            top: 5rem;
            right: 0;
            width: 50%;
            height: calc(100vh - 6.25rem);
            background: rgb(0, 0, 0);
            background: linear-gradient(311deg, rgba(0, 0, 0, 1) 0%, rgba(149, 149, 149, 1) 57%, rgba(255, 255, 255, 1) 91%);
            color: black;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 85%);
            @include gs.flex(column, center, center);
            gap: 1.5rem;
            animation: opacityShow 1.5s forwards;
        }

        @include gs.display(mobile) {
            width: 70%;
        }

        &>figure>img {
            border-radius: 100%;
            cursor: pointer;
        }

        &>ul {
            @include gs.flex(column, none, none);
            gap: 1rem;
        }
    }
}

.glow-on-hover {
    @include gs.glow-on-hover-button();
}

[data-theme="dark"] .glow-on-hover {
    border: 1px solid white;
}

@keyframes opacityShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}