@use '@/global-styles/main' as gs;

.img-info-icon {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: gs.$middle-primary;
    backdrop-filter: blur(0.15rem);
    border-radius: 50%;
    cursor: pointer;

    &:hover .info,
    &>.active {
        @include gs.flex(column, flex-end, none);
        position: absolute;
        top: -10rem;
        width: 18rem;
        height: 9.5rem;

        &>span {
            font-size: 1.25rem;
            border: 1px solid gs.$middle-primary;
            padding: 0.25rem 1rem;
            border-radius: 0.5rem;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 1) 16%, rgba(74, 32, 93, 1) 55%, rgba(138, 59, 173, 1) 82%, rgba(177, 76, 222, 1) 100%);
            display: block;
            width: fit-content;
            color: white;
        }
    }

    &>figcaption {
        display: none;
    }

    &>svg {
        font-size: 2rem;
    }
}