@use '@/global-styles/main' as gs;

.hike-details {
    background-image: url('/images/hike-details.png');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    padding: 8rem 0 3rem 0;

    &>h1 {
        @include gs.titles();
        margin-bottom: 2rem;
    }

    [data-theme="dark"] &>h1 {
        @include gs.titles-dark();
    }

    &__info {
        &>h3 {
            margin-bottom: 2rem;

            &>svg {
                animation: rotateLocation 4s infinite
            }
        }

        &__date-owner {
            @include gs.flex(none, space-around, center);
            margin-bottom: 2rem;
        }

        &__text {
            padding: 0 6rem;

            @include gs.display(display) {
                padding: unset;
            }
        }
    }
}

[data-theme="light"] .hike-details {
    color: #fff0db;
    text-shadow: 1px 1px 3px black;
}

@keyframes rotateLocation {
    to {
        transform: rotateY(360deg);
    }
}