$light-background: #F5F5F5;
$light-primary: #90ee90;      //  ??
$light-secondary: #87ceeb;    //  ??

$middle-primary: #bb00ff;

$dark-background: #292929;
$dark-background-secondary: #454545;
// $dark-primary: ;                 ??
// $dark-secondary: ;               ??