$light-background: #F5F5F5;
$light-primary: #90ee90;      //  ??
$light-secondary: #87ceeb;    //  ??

$middle-primary: #bb00ff;

$dark-background: #292929;
$dark-background-secondary: #454545;
// $dark-primary: ;                 ??
// $dark-secondary: ;               ??

$beige: #fff0db;

$form-input-color: #dbb1b1;
$active-option-field: #f0f0f0;
$selected-option-field: #99C8FF;

$menu-border: #adff2f;
$menu-background: rgba(231, 231, 231, 0.7);