@use './mixin' as gs;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    background-color: #F5F5F5;
    color: black;
}

a {
    color: inherit;
}

.container {
    min-height: 100vh;
    margin: auto;
    @include gs.flex(column, space-between, none);
    text-align: center;
}

main {
    @include gs.page-center(column, center, center);
    min-height: 90vh;        // Temporary -> update after create footer
}