@use './mixin' as gs;
@use './colors' as c;
@use './breakpoints' as br;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    background-color: #F5F5F5;
    color: black;
}

[data-theme="dark"] body {
    background-color: black;
    color: c.$beige;
}

a {
    color: inherit;
}

.container {
    min-height: 100vh;
    margin: auto;
    @include gs.flex(column, space-between, none);
    text-align: center;
}

main {
    @include gs.page-center(column, center, center);
    min-height: 100vh;
}

.catalog-wrapper {
    background-image: url('/images/backgr.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    &>h1 {
        margin: 8rem 1rem 2rem 1rem;
        @include gs.titles();

        @media (max-height: 34rem) and (orientation: landscape) {
            margin-top: 5rem;
        }
    }

    [data-theme="dark"] &>h1 {
        @include gs.titles-dark();
    }

    &__create-btn {
        @include gs.glow-on-hover-button();
        margin-bottom: 2rem;
    }

    [data-theme="dark"] &__create-btn {
        border: 1px solid white;
    }

    &__cards {
        max-width: 68.75rem;
        @include gs.flex(row, center, center);
        flex-wrap: wrap;
        padding: 2rem;
        gap: 1.6rem;
        margin-bottom: 3rem;
    }
}

[data-theme="dark"] .catalog-wrapper {
    background-image: url('/images/dark-backgr.png');
}

.card {
    min-width: 18rem;
    max-width: 20rem;
    @include gs.flex(column, none, center);
    gap: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.501);
    backdrop-filter: blur(0.25rem);
    box-shadow: 0 2rem 2.5rem -1rem rgb(0 0 0 / 43%);
    transition: all 1s ease;

    &:hover {
        transform: scale(1.02);
    }

    &>figure {
        width: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 0.5rem;

        @include br.display(L-mobile) {
            height: 25vh;
        }

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }

    &>h4,
    &>p {
        padding: 0 0.75rem;
    }

    &>a {
        border: 2px solid c.$light-primary;
        border-radius: 1.5rem;
        padding: 0 0.75rem;
        box-shadow: 1px 1px 4px black;
        transition: all 1.2s ease;

        &:hover {
            background-color: white;
            color: green;
        }
    }
}

[data-theme="dark"] .card {
    color: black;
}

.details-page-section {
    width: 60vw;
    max-width: 68.75rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 3rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.395);

    @include br.display(display) {
        width: 85vw;
    }

    @include br.display(mobile) {
        padding: 1.5rem 1rem;
    }

    & svg {
        color: purple;
    }
}

[data-theme="dark"] .details-page-section {
    border: 1px solid white;
}

.comments {

    &>h3 {
        margin-bottom: 2rem;
    }

    &>nav {
        @include gs.flex(none, center, none);
        gap: 1rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        &>span,
        &>h4 {
            cursor: pointer;
        }

        &>span {
            animation: shake 3s cubic-bezier(.36, .07, .19, .97) infinite;
        }

        &>.not-active {
            color: gray;
        }
    }

    &>div {
        display: flex;
        align-items: center;

        @include br.display(L-mobile) {
            flex-direction: column;
            align-items: unset;
        }

        &>a {
            width: fit-content;
            height: 2rem;
            border-radius: 100%;
            margin-right: 0.5rem;
            @include gs.flex(none, none, center);
            gap: 0.5rem;

            @include br.display(L-mobile) {
                flex-direction: row-reverse;
            }

            &>span {
                font-size: 0.9rem;
            }

            &>img {
                border-radius: 100%;
                object-fit: cover;
            }
        }

        &>p {
            margin-top: 2rem;
            background-color: darkgray;
            border-bottom-left-radius: 2.5rem;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding: 0.15rem 1rem;
            box-shadow: 0 0 6px plum;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: -0.25rem;
                left: -0.25rem;
                width: 0.55rem;
                height: 0.55rem;
                border-radius: 50%;
                background-color: white;
                border: 2px solid black;
            }

            @include br.display(L-mobile) {
                margin: 0.5rem 0 1rem 1rem;
                width: fit-content;
            }
        }

        [data-theme="dark"] &>p {
            background-color: #454545;
        }
    }
}

.loading {
    height: 100vh;
    letter-spacing: 0.5rem;
    background-image: url('/images/backgr.png');
    background-position: center;
    background-size: cover;

    &>h1>span {
        display: inline-block;
        animation: bounce 1.2s ease infinite;

        &:nth-child(1) {
            margin-left: 0.25rem;
        }

        &:nth-child(2) {
            animation-delay: 0.1s;
        }

        &:nth-child(3) {
            animation-delay: 0.2s;
        }

        &:nth-child(4) {
            animation-delay: 0.3s;
        }

        &:nth-child(5) {
            animation-delay: 0.4s;
        }

        &:nth-child(6) {
            animation-delay: 0.5s;
        }

        &:nth-child(7) {
            animation-delay: 0.6s;
        }

        &:nth-child(8) {
            animation-delay: 0.7s;
        }

        &:nth-child(9) {
            animation-delay: 0.8s;
        }

        &:nth-child(10) {
            animation-delay: 0.9s;
        }

        &:nth-child(11) {
            animation-delay: 1s;
        }
    }
}

[data-theme="dark"] .loading {
    background-image: unset;
}

.not-found {
    height: 100vh;
    background-image: url('/images/1.avif');
    background-position: center;
    background-size: cover;
    padding: 0.5rem 0;
    @include gs.flex(none, space-between, none);
    filter: grayscale(75%);

    &>header {
        margin-right: auto;
        padding: 0.5rem 0 0 4rem;
    }

    &>section {
        border: 1px solid c.$light-primary;
        width: 40vw;
        height: 40vh;
        background-color: #f5f5f563;
        color: black;
        @include gs.flex(column, space-evenly, center);
        padding: 1rem;

        @include br.display(tablet) {
            width: 60%
        }

        @include br.display(mobile) {
            width: 80%
        }

        @media (max-height: 34rem) and (orientation: landscape) {
            height: 60vh;
        }

        &>button {
            @include gs.glow-on-hover-button();
        }
    }

    &>footer {
        all: unset;
        color: white;
    }
}

@keyframes bounce {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateY(-0.625rem);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}