@use './mixin' as gs;
@use './colors' as c;
@use './breakpoints' as br;

html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    background-color: #F5F5F5;
    color: black;
}

[data-theme="dark"] body {
    background-color: black;
    color: c.$beige;
}

a {
    color: inherit;
}

.container {
    min-height: 100vh;
    margin: auto;
    @include gs.flex(column, space-between, none);
    text-align: center;
}

main {
    @include gs.page-center(column, center, center);
    min-height: 100vh;
}

.catalog-wrapper {
    background-image: url('/images/backgr.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    &>h1 {
        margin: 8rem 1rem 2rem 1rem;
        @include gs.titles();

        @media (max-height: 34rem) and (orientation: landscape) {
            margin-top: 5rem;
        }
    }

    [data-theme="dark"] &>h1 {
        @include gs.titles-dark();
    }

    &__create-btn {
        @include gs.glow-on-hover-button();
        margin-bottom: 2rem;
    }

    [data-theme="dark"] &__create-btn {
        border: 1px solid white;
    }

    &__cards {
        max-width: 68.75rem;
        @include gs.flex(row, center, center);
        flex-wrap: wrap;
        padding: 2rem;
        gap: 1.6rem;
        margin-bottom: 3rem;
    }
}

[data-theme="dark"] .catalog-wrapper {
    background-image: url('/images/dark-backgr.png');
}

.card {
    min-width: 18rem;
    max-width: 20rem;
    @include gs.flex(column, none, center);
    gap: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.501);
    backdrop-filter: blur(0.25rem);
    box-shadow: 0 2rem 2.5rem -1rem rgb(0 0 0 / 43%);
    transition: all 1s ease;

    &:hover {
        transform: scale(1.02);
    }

    &>figure {
        width: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 0.5rem;

        @include br.display(L-mobile) {
            height: 25vh;
        }

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }

    &>h4,
    &>p {
        padding: 0 0.75rem;
    }

    &>a {
        border: 2px solid c.$light-primary;
        border-radius: 1.5rem;
        padding: 0 0.75rem;
        box-shadow: 1px 1px 4px black;
        transition: all 1.2s ease;

        &:hover {
            background-color: white;
            color: green;
        }
    }
}

[data-theme="dark"] .card {
    color: black;
}

.details-page-section {
    width: 60vw;
    max-width: 68.75rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 3rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.395);

    @include br.display(display) {
        width: 90vw;
    }

    @include br.display(mobile) {
        padding: 1.5rem 1rem;
    }

    & svg {
        color: purple;
    }
}

[data-theme="dark"] .details-page-section {
    border: 1px solid white;
}