@mixin flex($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin grid($columns-count, $gap, $justify-items) {
    display: grid;
    grid-template-columns: repeat($columns-count, 1fr);
    gap: $gap;
    align-items: center;
    justify-content: center;
    justify-items: $justify-items;
}

@mixin page-center($direction, $content, $items) {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}
