@use './colors' as c;
@use './breakpoints' as b;
@use './mixin' as m;

.login-register-form {
    width: 30rem;
    min-height: 30vh;

    @include b.display(L-mobile) {
        width: 25rem;
    }

    @include b.display(mobile) {
        width: 90vw;
    }

    &>form {
        @include m.set-form();

        &>div {
            position: relative;

            &>label {
                margin-top: 0.5rem;
            }

            &>input {
                width: 100%;
            }
        }

        &>.remember-me {
            @include m.flex(row, center, none);

            &>input {
                width: unset;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }
}

.error-message {
    color: red;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    border-radius: 0.5rem;
    padding: 0 0.15rem;
}