@use './colors' as c;
@use './breakpoints' as b;

.login-register-form {
    width: 30rem;
    min-height: 30vh;

    @include b.display(L-mobile) {
        width: 25rem;
    }

    @include b.display(mobile) {
        width: 90vw;
    }

    &>form {
        display: flex;
        flex-direction: column;

        &>label {
            justify-content: center;
            color: c.$beige;
        }

        &>input {
            background: transparent;
            border-radius: 0.35rem;
            padding-left: 0.5rem;
            margin-bottom: 0.5rem;

            &::placeholder {
                color: white;
            }

            &:last-of-type {
                margin: 1rem 2rem 0 2rem;
                background-color: aquamarine;
                border-radius: 1.5rem;
                cursor: pointer;
                transition: all 1s ease;

                &:hover {
                    transform: scale(1.1);
                    background-color: rgb(4, 195, 131);
                    box-shadow: 0 0 4px yellow;
                    color: yellow;
                }
            }
        }

        [data-theme="dark"] &>input:last-of-type {
            color: black;

            &:hover {
                color: yellow;
            }
        }

        &>div {
            display: flex;
            justify-content: center;

            &>label {
                color: c.$beige;
                margin-right: 0.5rem;
            }

            &>input {
                cursor: pointer;
            }
        }
    }
}