@use '@/global-styles/main' as gs;

.form-container {
    position: relative;
    padding: 5rem 0;
    background-image: url('/images/pirin.avif');
    background-size: cover;
    background-position: center;

    &>h1 {
        margin-bottom: 3rem;
    }

    [data-theme="dark"] &>h1 {
        color: black;
    }

    &__form {
        width: 40vw;
        @include gs.set-form();
        background-color: rgba(149, 146, 146, 0.544);
        backdrop-filter: blur(0.1rem);
        padding: 2rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 4px aquamarine;

        @include gs.display(mobile) {
            padding: 0.5rem;
        }

        &>div {
            margin-bottom: 0.75rem;
        }

        &>div>input,
        &__pair>div input,
        &__pair>div>select,
        &>div>textarea {
            border: 1px solid black;
            color: black;

            &::placeholder {
                color: rgb(87, 87, 87);
            }
        }
    }

    &>.img-info-icon>.info {
        right: -12rem;
    }
}