@use '@/global-styles/main' as gs;

.trail-form {
    background-image: url('/images/vitosha-create-trail-backgr.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    @include gs.display(tablet) {
        background-image: url('/images/vitosha-create-trail-backgr-org.avif');
    }

    @media (max-height: 35rem) and (orientation: landscape) {
        background-image: url('/images/vitosha-create-trail-backgr.jpg');
    }

    &>.small-footer {
        color: white;
    }
}