@use '@/global-styles/main' as gs;

.map {
    position: relative;

    &__track-info {
        margin-top: 2rem;
        @include gs.flex(row, space-between, none);
        gap: 1rem;
        flex-wrap: wrap;
        backdrop-filter: blur(0.25rem);
        padding: 0.5rem;

        & strong {
            color: green;
        }
    }
}