@use '@/global-styles/main' as gs;

.change-pass-form {
    margin: 1rem 2rem;
    @include gs.set-form();

    &>input {
        color: black;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: unset;
        }
    }
}

button {
    @include gs.pop-up-button();
    padding: 0.15rem 0.75rem;
    margin: 0 0 1rem 0;
}

[data-theme="dark"] button {
    color: black;
}