@use '@/global-styles/main' as gs;

.change-pass-form {
    margin: 1rem 2rem;
    @include gs.set-form();
    width: 14.5rem;

    &>input {
        color: black;
    }
}

.pop-up-wrapper__modal>button {
    @include gs.pop-up-button();
    padding: 0.15rem 0.75rem;
    margin: 0 0 1rem 0;
}

[data-theme="dark"] .pop-up-wrapper__modal>button {
    color: black;
}