@use '@/global-styles/main' as gs;

.trail-details {
    background-image: url('/images/trail-details-light.avif');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 8rem 0 3rem 0;

    &>h1 {
        @include gs.titles();
        margin-bottom: 2rem;
    }

    [data-theme="dark"] &>h1 {
        @include gs.titles-dark();
    }

    & .upload-file {
        position: absolute;
        top: 0.75rem;
        right: 1.25rem;

        &>label {
            @include gs.flex(none, none, center);
            cursor: pointer;

            &>span {
                &:hover {
                    text-decoration: underline;
                }
            }

            &>svg {
                margin-left: 0.5rem;
                font-size: 1.5rem;
            }
        }

        &>input {
            display: none;
        }
    }
}

[data-theme="light"] .trail-details {
    color: #fff0db;
    text-shadow: 1px 1px 3px black;
}

[data-theme="dark"] .trail-details {
    background-image: url('/images/trail-details-dark.jpg');
}