@use '@/global-styles/main' as gs;

.header {
    position: fixed;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 5rem;
    @include gs.flex(none, space-around, center);

    @include gs.display(mobile) {
        height: 3.5rem;
    }

    // background: rgb(0, 255, 255);
    // background: linear-gradient(180deg, rgba(75, 195, 195, 0.3) 31%, rgba(70, 252, 181, 0.6) 97%);

    background-color: transparent;
    border-bottom: 1px solid gs.$light-primary;

    backdrop-filter: blur(0.5rem);
    animation: showHeader 1.7s forwards;

    &__nav {
        display: flex;

        &__theme-lang {
            @include gs.flex(column, none, none);
            gap: 0.5rem;

            @include gs.display(tablet) {
                @include gs.flex(row-reverse, none, center);
                gap: 1.5rem;
            }

            @include gs.display(mobile) {
                gap: 1rem;
            }

            &__theme {
                cursor: pointer;

                &__moon {
                    transition: all 1s ease;

                    &:hover {
                        color: yellow;
                        transform: scale(1.25);
                    }
                }

                &__sun {
                    transition: all 1.5s ease;

                    &:hover {
                        color: orange;
                        transform: scale(1.75);
                    }
                }
            }

            &__lang {
                cursor: pointer;
                transition: all 1s ease;

                &:hover {
                    color: blue;
                    transform: scale(1.25);
                }
            }
        }
    }
}

@keyframes showHeader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}