@use '@/global-styles/main' as gs;

.trail {
    &__created-by {
        @include gs.flex(none, center, center);
        margin-bottom: 1.5rem;

        &>p {
            margin-right: 0.75rem;
        }
    }

    &__pair {
        @include gs.flex(none, space-around, center);
        margin-bottom: 1.5rem;

        @include gs.display(L-mobile) {
            justify-content: space-between;

            &:first-of-type {
                flex-direction: column;
                gap: 1rem;
            }
        }

        @include gs.display(mobile) {
            flex-direction: column;
            gap: 1rem;
        }

        &__field-wrapper {
            position: relative;

            &__field {
                @include gs.flex(none, none, center);

                &>.edit {
                    margin-left: 0.75rem;
                    color: white;
                }
            }

            &__form {
                position: absolute;
                top: 0;
                left: -5rem;

                &>form {
                    background-color: black;
                    border-radius: 0.5rem;
                    padding: 0.05rem;
                    padding-right: 0.25rem;

                    &>input {
                        border-radius: 0.5rem;
                        border: 1px solid black;
                        margin-right: 0.25rem;
                        padding-left: 0.5rem;
                    }

                    &>button {
                        @include gs.glow-on-hover-button();

                        &:first-of-type {
                            margin-right: 0.25rem;
                        }
                    }
                }

                &>.error-message {
                    backdrop-filter: blur(0.25rem);
                    padding: 0 0.25rem 0.25rem 0.25rem;
                }
            }
        }

        &__last {
            @include gs.display(L-mobile) {
                flex-direction: column;
                gap: 1rem;
            }
        }

        & strong {
            font-size: 1.5rem;
        }

        & ul {
            list-style: circle;

            &>li {
                text-align: left;
            }
        }

        &__difficulty {
            display: flex;

            &__empty>span>svg {
                color: gray;
            }
        }
    }

    &__info {
        padding: 0 6rem;
        margin-bottom: 3rem;
        position: relative;

        @include gs.display(display) {
            padding: unset;
        }

        &>p {
            word-wrap: break-word;
            white-space: pre-wrap;
            text-align: left;
        }

        &>.edit {
            color: white;
            font-size: 1.5rem;
        }

        &__form {
            position: absolute;
            top: 0;
            width: 100%;
            @include gs.flex(column, center, center);
            backdrop-filter: blur(0.25rem);

            &>form {
                @include gs.flex(column, none, none);
                background-color: black;
                border-radius: 0.5rem;
                padding: 0.25rem;
                width: 70%;

                &>textarea {
                    border-radius: 0.5rem;
                    border: 1px solid white;
                    padding: 0.5rem;
                    margin-bottom: 0.25rem;
                    background: transparent;
                    color: gs.$beige;
                    scrollbar-width: thin;
                }

                &>div>button {
                    @include gs.glow-on-hover-button();
                    margin-bottom: 0.1rem;

                    &:first-of-type {
                        margin-right: 0.25rem;
                    }
                }
            }
        }
    }

    &__huts {
        @include gs.display(mobile) {
            @include gs.flex(column, none, none);
        }

        &>h4 {
            margin-bottom: 0.5rem;

            &:last-of-type {
                margin-top: 2.5rem;
            }
        }

        &>a {
            color: gs.$light-secondary;

            &:first-of-type {
                margin-right: 1.5rem;
            }
        }
    }
}

.spring {
    color: green !important;
}

.summer {
    color: yellow !important;
}

.autumn {
    color: orange !important;
}

.winter {
    color: blue !important;
}