@use '@/global-styles/main' as gs;

.trail {

    &__pair {
        @include gs.flex(none, space-around, center);
        margin-bottom: 1.5rem;

        @include gs.display(L-mobile) {
            justify-content: space-between;

            &:first-of-type {
                flex-direction: column;
                gap: 1rem;
            }
        }

        @include gs.display(mobile) {
            flex-direction: column;
            gap: 1rem;
        }

        &__last {
            @include gs.display(L-mobile) {
                flex-direction: column;
                gap: 1rem;
            }
        }

        & strong {
            font-size: 1.5rem;
        }

        & ul {
            list-style: circle;

            &>li {
                text-align: left;
            }
        }

        &__difficulty {
            display: flex;

            &__empty>span>svg {
                color: gray;
            }
        }
    }

    &__info {
        padding: 0 6rem;
        margin-bottom: 3rem;

        @include gs.display(display) {
            padding: unset;
        }
    }

    &__huts {
        @include gs.display(mobile) {
            @include gs.flex(column, none, none);
        }

        &>h4 {
            margin-bottom: 1.5rem;
        }

        &>a {
            color: gs.$light-secondary;

            &:first-of-type {
                margin-right: 1.5rem;
            }
        }
    }
}

.spring {
    color: green !important;
}

.summer {
    color: yellow !important;
}

.autumn {
    color: orange !important;
}

.winter {
    color: blue !important;
}